- if signed_in?
	.row.container
		%aside.span4
			%br
			%section
				= render 'shared/user_info'
			%section
				= render 'shared/stats'
			%section
				= render 'shared/micropost_form'
		%feed.span5.offset2
			= render 'shared/feed'
- else
	- provide(:title, 'Home')
	.center.hero-unit
		%h1 Open to Any Idea. 
		%h2 Discover Inspiration. Spark Creativity. Share Ideas. Get Feedback. Connect   
		= link_to "Check it out", new_user_registration_path, class: "btn btn-large btn-info"