- if signed_in?
  .row
    %aside.span4
      %section
        = render 'shared/user_info'
      %section
        = render 'shared/stats'
      %section
        = render 'shared/micropost_form'
    .span8
      %h3 Activity
      = render 'shared/feed'
- else
  - provide(:title, 'Home')
  .center.hero-unit
    %h1 Open to Any Idea. 
    %h2 Discover inspiration, share your ideas, get feedback and connect with like-minded people.   
    = link_to "Sign Up", new_user_registration_path, class: "btn btn-large btn-info"







