- provide(:title, @user.full_name)

%section.container
  %article
    =render 'users/user_info'
.row
  .span8.pull-right

    .tab-content
      #tab1.tab-pane.active
        - if @user.microposts.any?
          %ol.microposts
            = render @microposts
          = will_paginate @microposts    
      #tab2.tab-pane
        
        %bio.container
          %strong Bio:
          .bio= @user.bio
        
        %education.container
          %strong Education:
          %div= render @educations
        %experience.container 
          %strong Experience:
          %ul= render @experiences

