- provide(:title, @user.full_name)
.row
  %aside.span4
    =render 'users/user_info'
    %section
      .tag_line= @user.tag_line
    %section
       
    %section
      = render 'shared/stats'
      %strong Skills:
      %div
        = render @skills
  %bside.span8
    .tabbable
      / Only required for left/right tabs
      %ul.nav.nav-pills
        %li.active
          %a{"data-toggle" => "tab", :href => "#tab1"} About Me
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"}
            Activity(#{@user.microposts.count})

      .tab-content
        #tab1.tab-pane.active
          
          %bio
          %strong Bio:
          .bio= @user.bio
          
          %hr/
          
          %education
            %strong Education:
            %div= render @educations
          %hr/
          
          %experience 
            %strong Experience:
            %ul= render @experiences

        #tab2.tab-pane
          - if @user.microposts.any?
            %ol.microposts
              = render @microposts
            = will_paginate @microposts