<% provide(:title, @user.full_name) %>

<div class="media">
  <%= gravatar_for @user %>
</div>
<hr>





<div class="row">

  <aside class="span3">    
    <section>
      <h1><%= @user.full_name %></h1>
      <div class="tag_line"><%= @user.tag_line %></div>
    </section>
    <section>

    </section>

    <section>
      <strong>I'm really good at:</strong>
      <div>
          <%= render @skills %>  
      </div>
    </section>
  </aside>

  <div class="span8">
    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-pills">
        <li class="active"><a href="#tab1" data-toggle="tab">About Me</a></li>
        <li><a href="#tab2" data-toggle="tab">Activity(<%= @user.microposts.count %>) </a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          <strong>Bio:</strong>
          <div class="bio"><%= @user.bio %></div>
          <hr>
          <strong>Education:</strong>
          <div><%= render @educations %></div>
          <hr>
          <section>
            <strong>Experience:</strong>
            <ul><%= render @experiences %></ul>
          </section>
        </div>

        <div class="tab-pane" id="tab2">
            <% if @user.microposts.any? %>
            
            <ol class="microposts">
            <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts %>
            <% end %>
        </div>
      </div>
    </div>


     
    

  

  
  </div>
</div>