.feed_item.row
  %span.feed_item_photo
    = image_tag feed_item.user.gravatar_url, style: "width: 50px; height: 50px;",  class: "img-rounded"
  %strong.feed_item_title
    %span
      = link_to feed_item.user.full_name, feed_item.user
    %span
      answered a question
    %span
      
  %span #{time_ago_in_words(feed_item.created_at)} ago.
  %span.row.feed_item_content
    %strong 
      = feed_item.name
    %br
    %span= feed_item.content
    %span
      (More)
  %span.row.feed_item_actions
    %span
      = link_to "Like.it(#{feed_item.likes.size})", {:controller =>"microposts", :action => "upvote", :id => feed_item.id}, method: :put
    %span
      • 
    %span
      = link_to "Boo.it(#{feed_item.dislikes.size})", {:controller =>"microposts", :action => "downvote", :id => feed_item.id},  method: :put
    %span
      • 
    %span
      %a Correct
    %span
      • 
    %span
      %a Share
    