.feed_item.row{:id => feed_item.id}
	%span.feed_item_photo
		= image_tag feed_item.user.gravatar_url, style: "width: 50px; height: 50px;",  class: "img-rounded"
	%strong.feed_item_title
		%span
			Petar Ivacic
		%span
			posted new idea
		%span
			@grabea.
		%span
			1hr ago.
	%span.row.feed_item_content
		%span
			Content goes here. Content goes here. Content goes here. Content goes here. Content goes here. Content goes here. Content goes here. 140char
		%span
			(More)
	%span.row.feed_item_actions
		%span
			= link_to "Like(#{feed_item.likes.size})", {:controller =>"microposts", :action => "upvote", :id => feed_item.id}, :class => 'btn btn-link', method: :put
		%span
			• 
		%span
			= link_to "Dislike(#{feed_item.dislikes.size})", {:controller =>"microposts", :action => "downvote", :id => feed_item.id}, :class => 'btn btn-link', method: :put
		%span
			• 
		%span
			%a Comment
		%span
			• 
		%span
			%a Share
		


