
.feed_item.row
  %span.feed_item_photo
    = image_tag micropost.user.gravatar_url, style: "width: 50px; height: 50px;",  class: "img-rounded"
  %strong.feed_item_title
    %span
      = link_to micropost.user.full_name, micropost.user
    %span
      answered a question
    %span
      = micropost.name
    %spanPosted Posted #{time_ago_in_words(micropost.created_at)} ago.
  %span.row.feed_item_content
    %span= micropost.content
    %span
      (More)
  %span.row.feed_item_actions
    %span
      = link_to "Like(#{micropost.likes.size})", {:controller =>"microposts", :action => "upvote", :id => micropost.id}, method: :put
    %span
      • 
    %span
      = link_to "Dislike(#{micropost.dislikes.size})", {:controller =>"microposts", :action => "downvote", :id => micropost.id},  method: :put
    %span
      • 
    %span
      %a Comment
    %span
      • 
    %span
      %a Share