!!!
%html
  %head
    %title
      Grab an idea | GRABEA | #{yield(:title)}
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
  %body
    = render 'layouts/header'
    .container
      = yield
      = render 'layouts/footer'