!!!
%html
  %head
    %title
      Grab an idea | GRABEA | #{yield(:title)}
    
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      = yield
    .container
      = render 'layouts/footer'
    